@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pro-Rounded";
  src: url("/fonts/SF-Pro-Rounded-Regular.woff2") format("woff2");
  font-weight: 400;
  font-size: normal;
}

@font-face {
  font-family: "Pro-Rounded";
  src: url("/fonts/SF-Pro-Rounded-Bold.woff2") format("woff2");
  font-weight: 700;
  font-size: normal;
}

@layer base {
  body {
    font-family: "Pro-Rounded", sans-serif;
    font-size: large;
  }
}

@layer components {
  .section {
    @apply py-20;
  }

  .my-account-section {
    @apply container mx-auto my-5 h-[calc(100vh-40px)] rounded-md bg-white p-5 shadow-sm lg:w-[95%];
  }

  .item-hover {
    @apply flex items-center rounded-md p-8 ring-2 ring-blue-secondary duration-200 ease-in hover:shadow-lg hover:shadow-blue-secondary;
  }
}

@layer utilities {
  .heading-1 {
    @apply text-5xl font-bold;
  }

  .heading-2 {
    @apply text-4xl font-bold;
  }

  .heading-3 {
    @apply text-3xl font-bold;
  }

  .heading-4 {
    @apply text-2xl font-bold;
  }
}

/* ======== ADDITIONAL CSS ======== */

::-webkit-scrollbar {
  display: none;
}

/* Header */
.link div {
  width: 0;
}

.link:hover div {
  width: 100%;
}

.booking .anticon-question-circle {
  color: white !important;
}

/* Ant Design */
.ant-menu-inline {
  border-inline-end: none !important;
}

.addon-input .ant-input-group-addon {
  color: white !important;
}

.appointment .ant-table-container {
  height: calc(100vh - 220px);
}

.ant-table-container {
  height: calc(100vh - 260px);
}
